html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

p {
  margin: 0px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
  color: currentColor;
}

body {
  background-color: #ffffff;
  color: #757575;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
}

button {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin: 0 auto;
  max-width: 480px;
  padding: 0 15px;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

@media screen and (min-width: 1200px) {
  .container--center {
    display: flex;
    align-items: center;
  }
}

.section {
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 768px) {
  .mobile-header {
    display: none;
  }
}

.mobile-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-nav__menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background-color: transparent;
  border: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-nav__menu-btn:hover, .mobile-nav__menu-btn:focus {
  fill: #2196f3;
}

.menu__window.is-hidden {
  pointer-events: none;
  transform: translateY(-100%);
}

.menu__window {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  padding: 48px 40px;
  background-color: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  transform: translateY(0%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__btn-close {
  position: absolute;
  top: 10px;
  right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  background: transparent;
  border: 0px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__btn-close:hover, .menu__btn-close:focus {
  fill: #2196f3;
}

.menu__list-nav {
  margin-bottom: auto;
}

.menu__item-nav:not(:last-child) {
  margin-bottom: 32px;
}

.menu__link-nav {
  font-size: 40px;
  line-height: 1.18;
  color: #212121;
}
.menu__link-nav--current {
  color: #2196f3;
}

.menu__list-contact {
  margin-bottom: 64px;
}

.menu__item-contact {
  font-size: 24px;
  line-height: 1.17;
}

.menu__item-contact:first-child {
  margin-bottom: 32px;
  font-size: 34px;
  line-height: 1.18;
  color: #2196f3;
}

.menu__list-social {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  font-size: 18px;
  line-height: 1.22;
  color: #2196f3;
}

.menu__item-social:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

@media screen and (max-width: 767px) {
  .main-header {
    display: none;
  }
}

.page-header {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  border-bottom: 1px solid #ececec;
}

.main-nav {
  display: flex;
  align-items: center;
}

.main-nav__list {
  display: flex;
}

.main-nav__item:not(:last-child) {
  margin-right: 50px;
}

/* links for pages */
.main-nav__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-nav__link:hover, .main-nav__link:focus {
  color: #2196f3;
}
.main-nav__link::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  right: 0px;
  bottom: -1px;
  border-radius: 2px;
  background-color: #2196f3;
  transform: scaleX(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), width 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-nav__link:hover::after, .main-nav__link:focus::after {
  transform: scaleX(1);
}

.main-nav__link--current {
  color: #2196f3;
}
.main-nav__link--current::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  transform: scaleX(1);
  left: 0px;
  bottom: -1px;
  border-radius: 2px;
  background-color: #2196f3;
}

/* Contacts */
.header-contact {
  display: flex;
  margin-left: auto;
}

.header-contact__link {
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  align-items: center;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-contact__link:hover, .header-contact__link:focus {
  color: #2196f3;
}

.header-contact__item:not(:last-child) {
  margin-right: 50px;
}

.header-contact__icon {
  margin-right: 10px;
  fill: currentColor;
}

.logo {
  padding: 16px 0;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.logo__accent {
  color: #2196f3;
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.2;
  }
}

.page-header__logo {
  color: #000000;
}
@media screen and (min-width: 1200px) {
  .page-header__logo {
    margin-right: 93px;
  }
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
  padding: 0px;
}

.order {
  margin-right: auto;
  margin-left: auto;
  padding: 118px 0px;
  text-align: center;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../../images/background/mobile/group-people.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 480px auto;
  background-color: #2f303a;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .order {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../../images/background/mobile/group-people@2x.jpg");
  }
}

.order__title {
  margin-bottom: 30px;
  color: #ffffff;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button {
  padding: 10px 24px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
}
.button--active {
  color: #ffffff;
  background-color: #2196f3;
}

/* modal window */
.modal__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 99;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal__backdrop.is-hidden .modal__window {
  transform: translate(-50%, -50%) scale(0.3);
}

.modal__window {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: calc(100% - 30px);
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal__btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  right: 8px;
  top: 8px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__btn:hover, .modal__btn:focus {
  fill: #2196f3;
  border-color: #2196f3;
}

.order-form__title {
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  color: #212121;
}

.order-form__label {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: left;
}
.order-form__label:not(:nth-last-child(-n+3)) {
  margin-bottom: 10px;
}

.order-form__name {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.order-form__input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.order-form__label:focus-within .order-form__input {
  border-color: #2196f3;
  outline: none;
}
.order-form__input:not(:-moz-placeholder-shown) {
  border-color: #2196f3;
}
.order-form__input:not(:-ms-input-placeholder) {
  border-color: #2196f3;
}
.order-form__input:not(:placeholder-shown) {
  border-color: #2196f3;
}

.order-form__icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
  width: 18px;
  height: 18px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.order-form__label:focus-within .order-form__icon {
  fill: #2196f3;
}

.order-form__input:not(:-moz-placeholder-shown) + .order-form__icon {
  fill: #2196f3;
}

.order-form__input:not(:-ms-input-placeholder) + .order-form__icon {
  fill: #2196f3;
}

.order-form__input:not(:placeholder-shown) + .order-form__icon {
  fill: #2196f3;
}

.order-form__comment {
  resize: none;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.order-form__comment::-moz-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.order-form__comment:-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.order-form__comment::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.order-form__label.textarea {
  margin-bottom: 20px;
}

.checkbox {
  position: relative;
  margin-bottom: 31px;
}

.checkbox__input {
  position: absolute;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.checkbox__icon-empty {
  position: absolute;
  top: 0;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 2px;
}

.checkbox__icon-check {
  position: absolute;
  top: 0;
  fill: transparent;
}

.checkbox__input:checked + .checkbox__icon-empty {
  fill: #2196f3;
  background-color: #2196f3;
  border-radius: 2px;
}

.checkbox__name {
  padding-left: 24px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.checkbox__link {
  text-decoration: underline;
  text-underline-position: under;
  color: #2196f3;
}

.order-form__btn {
  width: 200px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.order-form__btn:hover, .order-form__btn:focus {
  background: #188ce8;
}

/* Our adventages */
@media screen and (min-width: 1200px) {
  .adventage {
    padding-top: 94px;
  }
}

.adventage__item:not(:last-child) {
  margin-bottom: 30px;
}

.adventage__title {
  margin-bottom: 10px;
  color: #212121;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
}

.adventage__desc {
  width: 100%;
  line-height: 1.71;
}

.adventage__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

/* What we are doing */
.work {
  display: none;
}
@media screen and (min-width: 1200px) {
  .work {
    display: block;
  }
}

.section-title {
  margin-bottom: 50px;
  color: #212121;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.work__item {
  position: relative;
}

.work__item:not(:last-child) {
  margin-right: 30px;
}

.work__title {
  position: absolute;
  width: 100%;
  height: 70px;
  left: 0px;
  bottom: 0px;
  padding-top: 27px;
  background-color: rgba(47, 48, 58, 0.8);
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

/* Our team */
.team {
  background-color: #f5f4fa;
}

.team__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.team__item {
  width: 100%;
  text-align: center;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__hero-img {
  width: 100%;
}

.team__info {
  padding-top: 30px;
  padding-bottom: 24px;
}

.team__hero-title {
  margin-bottom: 10px;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team__hero-desc {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
}

.social__list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover, .social__link:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.social__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

/* Our clients */
.client__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}

.client__item {
  width: calc((100% - 30px) / 2);
}

.client__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92px;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client__link:hover, .client__link:focus {
  color: #2196f3;
  border: 1px solid #2196f3;
}

.client__icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

/* buttons */
.menu-btn__list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 15px;
  -moz-column-gap: 8px;
       column-gap: 8px;
  margin-bottom: 40px;
}

.menu-btn__button {
  padding: 6px 22px;
  border-radius: 4px;
  color: #212121;
  background-color: #f5f4fa;
  border: 0px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-btn__button:hover, .menu-btn__button:focus {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.menu-btn__button--active {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Cards */
.card__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.card__item {
  max-width: 100%;
  background: #ffffff;
}

.card__link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card__link:hover, .card__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card__icon {
  position: relative;
  overflow: hidden;
}

.card__overlay {
  position: absolute;
  top: 0;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 24px;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card__link:hover .card__overlay, .card__link:focus .card__overlay {
  transform: translateY(0);
}

.overlay__desc {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: #ffffff;
}

.card__info {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.card__title {
  margin-bottom: 4px;
  color: #212121;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.card__desc {
  max-width: 100%;
  font-size: 16px;
  line-height: 1.88;
  color: #757575;
}

/* FOOTER */
/* address */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.footer__container {
  max-width: 480px;
}

.footer__section-address {
  margin-bottom: 60px;
  text-align: center;
  color: #ffffff;
}

.address {
  font-style: normal;
  line-height: 1.71;
}

.address__contact {
  opacity: 0.6;
}
.address__contact:hover, .address__contact:focus {
  color: #2196f3;
}

.address__item:not(:last-child) {
  margin-bottom: 8px;
}

/* social links */
.footer__section-social {
  margin-bottom: 60px;
  text-align: center;
}

.footer__title {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
}

.social__icon--fill-white {
  fill: #ffffff;
}

.social__link--bgr-color {
  background: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link--bgr-color:hover, .social__link--bgr-color:focus {
  background-color: #2196f3;
}

/* subscribe to the newsletter */
.footer__section-subscribe {
  text-align: center;
}

.form-subscribe__label {
  width: 100%;
  margin-bottom: 20px;
}

.form-subscribe__field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-subscribe__input {
  width: 100%;
  height: 50px;
  padding: 15px 16px;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-subscribe__input:focus-within {
  border-color: #ffffff;
}
.form-subscribe__input::-moz-placeholder {
  position: absolute;
}
.form-subscribe__input:-ms-input-placeholder {
  position: absolute;
}
.form-subscribe__input::placeholder {
  position: absolute;
}

.form-subscribe__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  padding: 10px 28px;
  height: 50px;
}

.form-subscribe__btn-name {
  margin-right: 10px;
}/*# sourceMappingURL=main.css.map */