// logo
.logo {
  padding-top: 16px;
  padding-bottom: 15px;

  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;

  &__accent {
    color: var(--accent-color);
  }

  @include sw(tablet) {
    padding-top: 26px;
    padding-bottom: 25px;
  }

  @include sw(desktop) {
    padding: 24px 0px;
    font-size: 26px;
    line-height: 1.2;
  }
}

.page-header__logo {
  color: #000000;

  @include sw(tablet) {
    margin-right: 88px;
  }

  @include sw(desktop) {
    margin-right: 93px;
  }
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
  padding: 0px;
}
