// HEADER
// MOBILE HEADER
.mobile-header {
  @media screen and (min-width: $tablet) {
    display: none;
  }
}

.mobile-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-nav__menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;

  background-color: transparent;
  border: none;
}

// Modal window - menu

.menu__window.is-hidden {
  pointer-events: none;
  transform: translateY(-100%);
}

.menu__window {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  padding: 48px 40px;
  background-color: $primary-white-color;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
    0px 1px 3px rgba(0, 0, 0, 0.16);

  transform: translateY(0%);
  transition: transform 250ms $time-function;
}

.menu__btn-close {
  position: absolute;
  top: 10px;
  right: 15px;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;

  background: transparent;
  border: 0px;

  transition: fill 250ms $time-function;

  &:hover,
  &:focus {
    fill: $accent-color;
  }
}

// Navigation
.menu__list-nav {
  margin-bottom: auto;
}

.menu__item-nav:not(:last-child) {
  margin-bottom: 32px;
}

.menu__link-nav {
  font-size: 40px;
  line-height: 1.18;

  color: $title-text-color;

  &--current {
    color: $accent-color;
  }
}

// Contacts
.menu__list-contact {
  margin-bottom: 64px;
}

.menu__item-contact {
  font-size: 24px;
  line-height: 1.17;
}

.menu__item-contact:first-child {
  margin-bottom: 32px;

  font-size: 34px;
  line-height: 1.18;

  color: $accent-color;
}

// Social links
.menu__list-social {
  display: flex;
  flex-wrap: wrap;

  font-size: 18px;
  line-height: 1.22;

  color: $accent-color;
}

.menu__item-social {
  &:not(:first-child) {
    padding-left: 10px;
  }

  &:not(:last-child) {
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
}

// TABLET AND DESCTOP
.main-header {
  @media screen and (max-width: $tablet) {
    display: none;
  }
}
.page-header {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  border-bottom: 1px solid #ececec;
}

.main-nav {
  display: flex;
  align-items: center;
}

// Navigation
.main-nav__list {
  display: flex;
}

.main-nav__item:not(:last-child) {
  margin-right: 50px;
}

/* links for pages */
.main-nav__link {
  position: relative;

  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: $title-text-color;

  transition: color 250ms $time-function;

  &:hover,
  &:focus {
    color: $accent-color;
  }

  &::after {
    position: absolute;

    content: '';
    width: 100%;
    height: 4px;
    right: 0px;
    bottom: -1px;

    border-radius: 2px;
    background-color: $accent-color;

    transform: scaleX(0);
    transition: transform 250ms $time-function, width 250ms $time-function;
  }
  &:hover::after,
  &:focus::after {
    transform: scaleX(1);
  }
}

.main-nav__link--current {
  color: $accent-color;

  &::after {
    position: absolute;

    content: '';
    width: 100%;
    height: 4px;
    transform: scaleX(1);

    left: 0px;
    bottom: -1px;
    border-radius: 2px;
    background-color: $accent-color;
  }
}

/* Contacts */
.header-contact {
  display: flex;
  margin-left: auto;
}

.header-contact__link {
  padding-top: 32px;
  padding-bottom: 32px;

  display: flex;
  align-items: center;
  color: $primary-text-color;

  transition: color 250ms $time-function;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.header-contact__item:not(:last-child) {
  margin-right: 50px;
}

.header-contact__icon {
  margin-right: 10px;
  fill: currentColor;
}
