// HEADER
// MOBILE HEADER
.mobile-header {
  @media screen and (min-width: $tablet) {
    display: none;
  }
}

.mobile-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-nav__menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;

  background-color: transparent;
  border: none;

  transition: fill 250ms var(--time-function);

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

// Modal window - menu

.menu__window.is-hidden {
  pointer-events: none;
  transform: translateY(-100%);
}

.menu__window {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  padding: 48px 40px;

  background-color: var(--primary-white-color);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
    0px 1px 3px rgba(0, 0, 0, 0.16);

  transform: translateY(0%);
  transition: transform 250ms var(--time-function);
}

.menu__btn-close {
  position: absolute;
  top: 10px;
  right: 15px;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;

  background: transparent;
  border: 0px;

  transition: fill 250ms var(--time-function);

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

// Navigation
.menu__list-nav {
  margin-bottom: auto;
}

.menu__item-nav:not(:last-child) {
  margin-bottom: 32px;
}

.menu__link-nav {
  font-size: 40px;
  line-height: 1.18;

  color: var(--title-text-color);

  &--current {
    color: var(--accent-color);
  }
}

// Contacts
.menu__list-contact {
  margin-bottom: 64px;
}

.menu__item-contact {
  font-size: 24px;
  line-height: 1.17;
}

.menu__item-contact:first-child {
  margin-bottom: 32px;

  font-size: 34px;
  line-height: 1.18;

  color: var(--accent-color);
}

// Social links
.menu__list-social {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  font-size: 18px;
  line-height: 1.22;

  color: var(--accent-color);
}

.menu__item-social {
  &:not(:last-child) {
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
}

// TABLET AND DESCTOP
.main-header {
  display: none;
  @media screen and (min-width: ($tablet)) {
    display: flex;
  }
}

.page-header {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  border-bottom: 1px solid #ececec;
}

.main-nav {
  display: flex;
  align-items: center;
}

// Navigation
.main-nav__list {
  display: flex;
  gap: 50px;
}

/* links for pages */
.main-nav__link {
  position: relative;

  display: block;
  padding-top: 32px;
  padding-bottom: 31px;

  color: var(--title-text-color);

  transition: color 250ms var(--time-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  &::after {
    position: absolute;

    content: '';
    width: 100%;
    height: 4px;
    right: 0px;
    bottom: -1px;

    border-radius: 2px;
    background-color: var(--accent-color);

    transform: scaleX(0);
    transition: transform 250ms var(--time-function), width 250ms var(--time-function);
  }
  &:hover::after,
  &:focus::after {
    transform: scaleX(1);
  }
}

.main-nav__link--current {
  color: var(--accent-color);

  &::after {
    position: absolute;

    content: '';
    width: 100%;
    height: 4px;
    transform: scaleX(1);

    left: 0px;
    bottom: -1px;
    border-radius: 2px;
    background-color: var(--accent-color);
  }
}

/* Contacts */
.header-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  margin-left: auto;

  font-size: 12px;
  line-height: 1.17;

  @media screen and (min-width: $desktop) {
    flex-direction: row;
    gap: 30px;

    font-size: 14px;
    line-height: 1.14;
  }
}

.header-contact__link {
  display: flex;
  align-items: center;
  color: var(--primary-text-color);

  transition: color 250ms var(--time-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  @media screen and (min-width: $desktop) {
    padding-top: 32px;
    padding-bottom: 31px;
  }
}

.header-contact__icon {
  margin-right: 8px;
  fill: currentColor;

  @media screen and (min-width: $desktop) {
    margin-right: 10px;
  }
}

.header-contact__icon-envelope {
  width: 14px;
  height: 10px;

  @media screen and (min-width: $desktop) {
    width: 16px;
    height: 12px;
  }
}

.header-contact__icon-smartphone {
  width: 10px;
  height: 14px;

  @media screen and (min-width: $desktop) {
    width: 10px;
    height: 16px;
  }
}
