/* modal window */
.modal__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 99;
  opacity: 1;
  transition: opacity 250ms var(--time-function);
}

.modal__backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal__backdrop.is-hidden .modal__window {
  transform: translate(-50%, -50%) scale(0.3);
}

.modal__window {
  position: absolute;
  top: 50%;
  left: 50%;

  width: calc(100% - 30px);
  padding: 40px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms var(--time-function);

  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  @include sw(tablet) {
    width: 450px;
  }

  @include sw(desktop) {
    width: 528px;
  }
}

.modal__btn {
  position: absolute;
  right: 8px;
  top: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;

  background: var(--primary-white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  transition: fill 250ms var(--time-function), border-color 250ms var(--time-function);

  &:hover,
  &:focus {
    fill: var(--accent-color);
    border-color: var(--accent-color);
  }
}

//  Modal form
.order-form__title {
  margin-bottom: 12px;

  font-size: 20px;
  line-height: 1.5;
  text-align: center;

  color: var(--title-text-color);

  @include sw(desktop) {
    line-height: 1.15;
  }
}

.order-form__label {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: left;

  &:not(:nth-last-child(-n + 3)) {
    margin-bottom: 10px;
  }
}

.order-form__name {
  margin-bottom: 4px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: var(--primary-text-color);
}

.order-form__input {
  width: 100%;
  height: 40px;
  padding-left: 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms var(--time-function);

  .order-form__label:focus-within & {
    border-color: var(--accent-color);
    outline: none;
  }

  &:not(:placeholder-shown) {
    border-color: var(--accent-color);
  }
}

.order-form__icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
  width: 18px;
  height: 18px;

  transition: fill 250ms var(--time-function);

  .order-form__label:focus-within & {
    fill: var(--accent-color);
  }
}

.order-form__input:not(:placeholder-shown) + .order-form__icon {
  fill: var(--accent-color);
}

.order-form__comment {
  resize: none;
  width: 100%;
  height: 120px;
  padding: 12px 16px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  &::placeholder {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}
.order-form__label.textarea {
  margin-bottom: 20px;
}

.checkbox {
  position: relative;
  margin-bottom: 31px;

  @include sw(desktop) {
    margin-bottom: 30px;
  }
}

.checkbox__input {
  position: absolute;
  appearance: none;
}

.checkbox__icon-empty {
  position: absolute;
  top: 0;

  @include sw(desktop) {
    top: 4px;
  }
}
.checkbox__icon-check {
  position: absolute;
  top: 0;
  opacity: 0;

  transition: opacity 250ms var(--time-function);

  @include sw(desktop) {
    top: 4px;
  }
}

.checkbox__input:checked ~ .checkbox__icon-check {
  opacity: 1;
}

.checkbox__name {
  padding-left: 24px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;

  user-select: none;

  @include sw(desktop) {
    font-size: 14px;
    line-height: 1.71;
  }
}

.checkbox__link {
  text-decoration: underline;
  text-underline-position: under;
  color: var(--accent-color);
}

.order-form__btn {
  width: 200px;

  transition: background-color 250ms var(--time-function);

  &:hover,
  &:focus {
    background: #188ce8;
  }
}
