// Order a service
.order {
  margin-right: auto;
  margin-left: auto;
  padding: 118px 0px;

  text-align: center;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/background/mobile/group-people.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: $mobile auto;
  background-color: $secondary-background-color;

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/background/mobile/group-people@2x.jpg');
  }

  // BG img for tablet
  @media screen and (min-width: $tablet) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/background/tablet/group-people.jpg');
    background-size: $tablet auto;

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../images/background/tablet/group-people@2x.jpg');
    }
  }

  // BG img for desktop
  @media screen and (min-width: $desktop) {
    padding: 200px 0px;

    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/background/desktop/group-people.jpg');
    background-size: 1600px auto;

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../images/background/desktop/group-people@2x.jpg');
    }
  }
}

.order__title {
  margin-bottom: 30px;

  color: $primary-white-color;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  @media screen and (min-width: $tablet) {
    width: 360px;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: $desktop) {
    width: 696px;

    font-size: 44px;
    line-height: 1.36;
  }
}

.button {
  padding: 10px 24px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;

  &--active {
    color: $primary-white-color;
    background-color: $accent-color;
  }

  @media screen and (min-width: $desktop) {
    padding: 10px 32px;
  }
}
