/* What we are doing */
.work {
  display: none;

  @include sw (desktop) {
    display: block;
  }
}

.section-title {
  margin-bottom: 30px;

  color: var(--title-text-color);
  font-size: 28px;
  line-height: 1.18;
  text-align: center;

  @include sw (desktop) {
    margin-bottom: 50px;

    font-size: 36px;
    line-height: 1.17;
  }
}

.work__list {
  display: flex;
  gap: 30px;
}

.work__item {
  position: relative;
}

.work__title {
  position: absolute;
  width: 100%;
  height: 70px;
  left: 0px;
  bottom: 0px;
  padding-top: 27px;
  background-color: rgba(47, 48, 58, 0.8);

  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-white-color);
}
