/* Our adventages */
.adventage {
  padding-top: 94px;
  padding-bottom: 0px;
}

.adventage__list {
  display: flex;
}

.adventage__item:not(:last-child) {
  margin-right: 30px;
}

.adventage__title {
  margin-bottom: 10px;

  color: $title-text-color;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.adventage__desc {
  width: 270px;
  line-height: 1.71;
}

.adventage__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: $secondary-white-color;
  border-radius: 4px;
  margin-bottom: 30px;
}
