// VARIABLES

:root {
  // TEXT
  --primary-text-color: #757575;
  --title-text-color: #212121;

  // ACCENT
  --accent-color: #2196f3;

  // POPULAR COLOR
  --primary-white-color: #ffffff;
  --secondary-white-color: #f5f4fa;
  --secondary-background-color: #2f303a;

  // ELEMENTS
  --primary-icon-color: #afb1b8;
  --time-function: cubic-bezier(0.4, 0, 0.2, 1);
  --border-card-color: #eeeeee;
}

// BREAKPOINTS
$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;
